*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left,rgba(15,0,0,0.3),rgba(20,0,0,0.5)),
    url('image/un.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{ 
    background-color: black;
    width: 100%;  
    position:fixed; 
    height: 100px; 
    overflow: hidden; 
    line-height:70%;
}
.logo{
    width:190px;
    float:left;
    height:95px;
}
nav{
    float: right;
}
a{
    float: left;
    padding: 45px;
    font-family: serif;
    color:white;
    text-decoration: none;
}
nav a:hover{
    background:red;
}
.pic{
padding-top: 50px; 
}
.vido{
    padding-top:100px;
    width: 100%;
    
}
.pus{
    width:99%;
    height:400px;
}
.conta{
    width:90%;
}
.footer{
    border:2px solid black;
    height:590px;
    background-color: rgb(46, 44, 44);
}
.log{
    height:100px;
    width: 200px;
    padding-top: 50px;
    padding-left: 40px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
.link-in{
    padding-left: 40px;
}
.art{
    padding-top: 380px;
    color:rgb(247, 247, 222);
}
.maps{
    width:70%; 
    height:350px;
    float:right;

}
.unor{
    line-height:40px;
    font-size:20px;
    color: white;
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

