*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left,rgba(15,0,0,0.3),rgba(20,0,0,0.5)),
    url('image/un.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{ 
    background-color: black;
    width: 100%;  
    position:fixed; 
    height: 100px; 
    overflow: hidden; 
    line-height:70%
}
.logo{
    width:190px;
    float:left;
    height:95px;
}
nav{
    float: right;
}
a{
    float: left;
    padding: 45px;
    font-family: serif;
    color:white;
    text-decoration: none;
}
nav a:hover{
    background:red;
}
.pic{
padding-top: 50px; 
}
.box{
    height:300px;
    width:100%;
    padding-top: 100px;
    background:rgb(218, 193, 147);
}
h2{
    text-align: center;
    padding-top:130px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table{
    padding-top:50px;
}
caption{
    font-weight: 900;
}
.footer{
    border:2px solid black;
    height:590px;
    background-color: rgb(46, 44, 44);
}
.log{
    height:100px;
    width: 200px;
    padding-top: 50px;
    padding-left: 40px;
}
h2{
    color:white;
    padding-top: 0px;
}
.link-in{
    padding-left: 40px;
}
.art{
    padding-top: 370px;
    color:white;
}
.maps{
    width:70%; 
    height:360px;
    float:right;

}
h1{
    color:white;
    padding-left: 400px;
    padding-top:100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
