*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left,rgba(15,0,0,0.3),rgba(20,0,0,0.5)),
    url('image/un.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{ 
    background-color: black;
    width: 100%;  
    position:fixed; 
    height: 100px; 
    overflow: hidden; 
    line-height:70%
}
.logo{
    width:190px;
    float:left;
    height:95px;
}
nav{
    float: right;
}
a{
    float: left;
    padding: 45px;
    font-family: serif;
    text-decoration: none;
    color:white;
}
nav a:hover{
    background:red;
}
.pic{
padding-top: 50px; 
}
.conta{
    padding-top:100px;
}
#form{
    color:white;
    padding-top: 5px;
    width: 35%;
    background-color: rgb(54, 53, 53);
    border-radius:5px; 
}
.for{
    padding-top:30px;
    width: 35%;
    background-color: rgb(54, 53, 53);
}
